HIPCHAT_API_KEY = "your HipChat API v2 key",
HIPCHAT_ROOM = "Ops"
REGEX = %r{wensleydale|cheddar|ed[ae]m}i

IRC_SERVER = "irc.freenode.net"
NICK = "bot_irc_nick"
CHANNELS = ["#edam", "#port_salut"]

RATE_LIMIT_PERIOD_SEC = 360
MENTIONS_PER_LIMIT_PERIOD = 2
